Binaries/
.vs/
.vscode/
Build/
*.suo
*.user
*.userprefs
*.xcodeproj
*.xcworkspace

*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb
*.log
*.tlog


*.local
*.tmp
*.cache
*.bak
*.swp


*.target
*.targets
*.csproj
*.pri
*.appxmanifest
*.ini.tmp

Plugins/DismembermentKitV2/
Plugins/*/Intermediate/
Plugins/*/Binaries/

Saved/
DerivedDataCache/
Intermediate/


Content/Developers/
Content/Collections/
Content/StarterContent/
Content/FXVarietyPack/
Content/Animations/
Content/**/Animations/
Content/ParagonSevarog/
*.autosave
*.backup
*.old

Content/__ExternalActors__/
Content/__ExternalObjects__/

Content/Dismemberment/


Saved/Autosaves/
Saved/Crashes/
Saved/Logs/
Saved/webcache_4430/
Saved/Temp/
Saved/StagedBuilds/
Saved/ShaderDebugInfo/



*.umap.autosave
*.uasset.autosave


.idea/
.cmake/


*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
